[Unit]
Description=PingMonitor Service
After=network.target


[Service]

WorkingDirectory=/opt/pingmonitor

ExecStart=/usr/bin/python3 /opt/pingmonitor/monitor.py

Restart=always

RestartSec=5


[Install]

WantedBy=multi-user.target
