<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>
PingMonitor
</title>

<meta http-equiv="refresh" content="10">


<style>

body{

background:#111827;
color:white;
font-family:
Arial,
Microsoft YaHei;

}


h1{

text-align:center;

}


.time{

text-align:center;
color:#aaa;

}


table{

width:90%;
margin:30px auto;
border-collapse:collapse;
background:#1f2937;

}


th{

background:#374151;
padding:14px;

}


td{

padding:14px;
text-align:center;
border-bottom:1px solid #4b5563;

}


.online{

color:#22c55e;
font-weight:bold;

}


.offline{

color:#ef4444;
font-weight:bold;

}

</style>


</head>


<body>


<h1>
🚀 Ping Monitor 节点状态
</h1>


<div class="time">
更新时间 {{update_time}}
</div>



<table>


<tr>

<th>节点</th>

<th>IP</th>

<th>状态</th>

<th>延迟</th>

<th>失败次数</th>

<th>最后检测</th>

</tr>



{% for n in nodes %}


<tr>


<td>{{n.name}}</td>


<td>{{n.ip}}</td>


<td>


{% if n.status=="在线" %}


<span class="online">
🟢 在线
</span>


{% else %}


<span class="offline">
🔴 离线
</span>


{% endif %}


</td>



<td>

{{n.delay}}

</td>



<td>

{{n.fail}}

</td>



<td>

{{n.last}}

</td>


</tr>


{% endfor %}



</table>


</body>

</html>
